$font-sizes: (
    xs: 16px,
    s: 24px,
    m: 32px,
    l: 40px,
    xl: 48px,
);
$colors: (
    pure-white: #FFFFFF,
    pure-black: #000000,
    blanco: #dce6ef,
    negro: #131313,
    verde: rgb(50, 161, 93),
    gris: #8b8b8b,
    gray-footer: #ffffff83,
    black2: #1a1a1aef,
    dark-gray: #1f1f1ffd,
    negro-header: #0c0c0c,
)