.p-fragancias {
    font-family: "Montserrat", serif;
    font-size: map-get($font-sizes , s);
    margin-top: 5px;
    margin-bottom: 50px;
    width: 100%;
    text-align: left;
}
@media (max-width: 767px){
    .p-fragancias{
        max-width: 90%;
    }
}