.brand-logo {
    @include medidas(180px, 75px);
    margin: 15px 0 10px 25px;
}
.hamburguesa-logo {
    @include medidas(60px, 60px);
}
.img-inicio {
    @include medidas(1600px, 1000px);
    margin-top: 25px;
    text-align: center;
}
@media (max-width: 767px){
    .img-inicio{
        @include medidas(600px, 300px);
        max-width: 90%;
    }
}
.img-perfume {
    @include medidas(400px, 500px);
}
.img-texto {
    @include medidas(700px, 700px);
    border-radius: 8px;
    max-width: 50%;  
}
@media (max-width: 767px){
    .img-texto{
        @include medidas(550px, 600px);
        max-width: 100%;
    }
}
.img-perfume-ideal {
    @include medidas(700px, 450px);
    margin-top: 70px;
    max-width: 100%;
}
@media (max-width:767px){
    .img-perfume-ideal{
        @include medidas(400px, 250px);
        margin-top: 30px;
    }
}
.img-sobre-nosotros {
    @include medidas(500px, 400px);
}
@media (max-width: 767px){
    .img-sobre-nosotros {
        order: 2;
        max-width: 90%;
        height: auto;
        margin: 1rem, auto, 1.5rem, auto;
        border-radius: 5px;
    }
}
.redes-footer {
    @include medidas(40px, 40px);
}