.brand-logo {
    @include medidas(180px, 75px);
    margin: 15px 0 10px 25px;
}
@media (max-width: 767px){
    .brand-logo{
    @include medidas(110px, 50px);
    }
}
.hamburguesa-logo {
    @include medidas(60px, 60px);
}
@media (max-width: 767px){
    .hamburguesa-logo{
    @include medidas(45px, 45px);
    }
}
.img-perfume {
    @include medidas(400px, 500px);
}
@media (max-width: 767px){
    .img-perfume{
        @include medidas(300px, 400px);
        width: 100%;
        max-width: 300px;
    }
}
.img-texto {
    @include medidas(700px, 700px);
    border-radius: 8px;
    max-width: 90%;  
}
@media (max-width: 767px){
    .img-texto{
        @include medidas(400px, 500px);
        width: 100%;
        max-width: 400px;
    }
}
.img-perfume-ideal {
    @include medidas(700px, 450px);
    margin-top: 70px;
    width: auto;
}
@media (max-width:767px){
    .img-perfume-ideal{
        @include medidas(400px, auto);
        margin-top: 30px;
        max-width: 90%;
    }
}
.img-sobre-nosotros {
    @include medidas(500px, 400px);
}
@media (max-width: 767px){
    .img-sobre-nosotros {
        @include medidas(350px, 300px);
        order: 2;
        width: 100%;
        max-width: 350px;
        border-radius: 5px;
    }
}
.redes-footer {
    @include medidas(40px, 40px);
}