.parrafo-inicio {
    font-family: "Nunito Sans", serif;
    font-size: map-get($font-sizes , s);
    margin: 40px auto;
    width: 100%;
    max-width: 1600px;
    text-align: left;
}
.parrafo1-imagen {
    font-family: "DM Sans", serif;
    font-size: 50px;
    color: map-get($colors , pure-white);
    text-align: center;
    width: 100%;
}
.parrafo2-imagen {
    @extend .parrafo1-imagen; 
    font-size: map-get($font-sizes , l);
}
@media (max-width: 767px){
    .parrafo-inicio{
        font-size: map-get($font-sizes , xs);
        max-width: 90%;
    }
    .parrafo1-imagen {
        font-size: map-get($font-sizes , s);
    }
    .parrafo2-imagen {
        font-size: map-get($font-sizes , xs);
    }
}