.modal-title-propio{
    font-family: "Open Sans", serif;
    color: map-get($colors , pure-black);
}
.modal-body-propio {
    font-family: "Open Sans", serif;
    font-size: map-get($font-sizes , s);
    font-weight: 100;
    color: map-get($colors , pure-black);
    padding-left: 5px;
}
@media (max-width: 767px){
    .modal-dialog {
        margin: 1rem;
    }
}