.p-sobre-nosotros {
    font-family: "Roboto Mono", serif;
    font-size: map-get($font-sizes , s);
    padding-left: 7px;
    max-width: 100%;
}
@media (max-width: 767px){
    .p-sobre-nosotros {
        font-size: map-get($font-sizes , xs);
        margin: 0;
        text-align: center;
        padding: 5px 2px;
    }
}
@media (max-width: 767px){
    div.animacion{
        order:2;
    }
}
