html, body {
    overflow-x: hidden;
    background-color: map-get($colors , negro);
}
main {
    color: map-get($colors , blanco);
}
header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: map-get($colors , negro-header);
    color: map-get($colors , blanco);
}
footer {
    @include flex(column, center, center);
    text-align: center;
    margin-top: 30px;
}
.brand-logo-footer {
    @include medidas(115px, 50px);
    margin-top: 10px;
    margin-bottom: 15px;
}
.parrafo-footer {
    color:map-get($colors , gray-footer);
    font-family: "DM Sans", serif;
    font-size: map-get($font-sizes , s);
}
@media (max-width: 767px){
    .parrafo-footer{
        font-size: map-get($font-sizes , xs);
    }
}
