h1 {
    font-family: "Nunito Sans", serif;
    font-size: map-get($font-sizes , xl);
    font-weight: 300;
}
.h1-inicio {
    text-align: center;
    margin-top: 30px;
}
@media (max-width: 767px){
    .h1-inicio {
        font-size: map-get($font-sizes, m);
    }
}
.h1-contacto {
    font-size: map-get($font-sizes , m);
    font-family: "Open Sans", serif;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 20px;
}
@media (max-width: 767px){
    .h1-contacto {
        font-size: map-get($font-sizes , s);
        text-align: center;
    }
}
.h-perfume-ideal {
    font-family: "DM Sans", serif;
    margin: 15px 10px 10px 10px;
}
@media (max-width: 767px){
    .h-perfume-ideal{
        font-size: map-get($font-sizes , s);
        text-align: center;
        width: 100%;
        margin: 15px 0;
    }
}
.h-sobre-nosotros {
    font-family: "Alumni Sans Pinstripe", serif;
    font-size: map-get($font-sizes , xl);
    font-weight: 600;
    padding-left: 10px;
}
@media (max-width: 767px){
    .h-sobre-nosotros {
        font-size: map-get($font-sizes , l);
        margin: 0;
        width: 100%;
        text-align: center;
        padding: 5px;
    }
}
.h1-fragancias {
    text-align: center;
    margin-top: 25px;
}
@media (max-width: 767px){
    .h1-fragancias {
        font-size: map-get($font-sizes , s);
        max-width: 100%;
    }
}
.h2-fragancias, .h3-fragancias {
    font-family: "Nunito Sans", serif;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}
@media (max-width: 767px){
    .h2-fragancias, .h3-fragancias {
        font-size: map-get($font-sizes , s);
        max-width: 100%;
    }
}
.h3-nombres-perfumes {
    font-family: "Roboto", serif;
    font-style: italic;
    font-size: map-get($font-sizes , m);
    margin-top: 15px;
}
@media (max-width: 767px){
    .h3-nombres-perfumes {
        font-size: map-get($font-sizes , s);
    }
}