@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Google Fonts - Open Sans */
/* font-family: "Open Sans", serif; */
/* Google Fonts - Montserrat*/
/* font-family: "Montserrat", serif; */
/* Google Fonts - DM Sans */
/* font-family: "DM Sans", serif; */
/* Google Fonts - Nunito Sans */
/* font-family: "Nunito Sans", serif; */
/* Google Fonts - Alumni Sans Pinstripe Static */
/* font-family: "Alumni Sans Pinstripe", serif; */
/* Google Fonts - Roboto Mono*/
/* font-family: "Roboto Mono", serif; */
.parrafo-inicio {
  font-family: "Nunito Sans", serif;
  font-size: 24px;
  margin: 40px auto;
  width: 100%;
  max-width: 1600px;
  text-align: left;
}

@media (max-width: 767px) {
  .parrafo-inicio {
    font-size: 24px;
    max-width: 90%;
  }
}
.parrafo1-imagen, .parrafo2-imagen {
  font-family: "DM Sans", serif;
  font-size: 50px;
  color: #FFFFFF;
  text-align: center;
  width: 100%;
}

@media (max-width: 767px) {
  .parrafo1-imagen, .parrafo2-imagen {
    font-size: 24px;
  }
}
.parrafo2-imagen {
  font-size: 40px;
}

@media (max-width: 767px) {
  .parrafo2-imagen {
    font-size: 24px;
  }
}
.p-fragancias {
  font-family: "Montserrat", serif;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 50px;
  width: 100%;
  text-align: left;
}

@media (max-width: 767px) {
  .p-fragancias {
    max-width: 90%;
  }
}
.preguntas {
  display: flex;
  flex-direction: column;
  grid-area: preguntas;
  font-size: 24px;
  padding-left: 10px;
  background-color: #131313;
  color: #dce6ef;
}

@media (max-width: 767px) {
  .preguntas {
    width: 100%;
    max-width: 500px;
  }
}
.opciones {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.mensaje {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: mensaje;
  font-family: "Open Sans", serif;
  font-size: 24px;
}

@media (max-width: 767px) {
  .mensaje {
    width: 100%;
    max-width: 500px;
  }
}
.textarea {
  width: 100%;
  height: 100%;
  font-size: 24px;
  background-color: rgba(26, 26, 26, 0.937254902);
  color: #dce6ef;
}

.pregunta-textarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.checkbox {
  width: 20px;
  height: 20px;
}
.checkbox:hover {
  cursor: pointer;
}

.p-sobre-nosotros {
  font-family: "Roboto Mono", serif;
  font-size: 24px;
  padding-left: 7px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .p-sobre-nosotros {
    margin: 0;
    text-align: center;
  }
}
@media (max-width: 767px) {
  div.animacion {
    order: 2;
  }
}
.brand-logo {
  width: 180px;
  height: 75px;
  margin: 15px 0 10px 25px;
}

.hamburguesa-logo {
  width: 60px;
  height: 60px;
}

.img-perfume {
  width: 400px;
  height: 500px;
}

.img-texto {
  width: 700px;
  height: 700px;
  border-radius: 8px;
  max-width: 50%;
}

@media (max-width: 767px) {
  .img-texto {
    width: 550px;
    height: 600px;
    max-width: 100%;
    min-width: 550px;
  }
}
.img-perfume-ideal {
  width: 700px;
  height: 450px;
  margin-top: 70px;
  width: auto;
}

@media (max-width: 767px) {
  .img-perfume-ideal {
    width: 400px;
    height: auto;
    margin-top: 30px;
    max-width: 90%;
  }
}
.img-sobre-nosotros {
  width: 500px;
  height: 400px;
}

@media (max-width: 767px) {
  .img-sobre-nosotros {
    order: 2;
    max-width: 90%;
    height: auto;
    margin: 1rem, auto, 1.5rem, auto;
    border-radius: 5px;
  }
}
.redes-footer {
  width: 40px;
  height: 40px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-family: "Open Sans", serif;
  font-size: 32px;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 25px;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
}
.navbar ul li a:hover {
  color: rgba(255, 255, 255, 0.5137254902);
}

@media (max-width: 767px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
  }
  .navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 10px;
  }
  .navbar ul li {
    list-style: none;
  }
  .navbar ul li a {
    width: 100%;
    text-align: center;
    margin-top: 25px;
  }
}
.boton-inicio {
  padding: 5px 15px;
  background-color: #dce6ef;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  font-family: "DM Sans", serif;
  font-size: 24px;
}
.boton-inicio:hover {
  background-color: rgb(201, 201, 201);
}

@media (max-width: 767px) {
  .boton-inicio {
    width: 100px;
    height: 40px;
    font-size: 16px;
  }
}
.btn-propio-inicio, .btn-secundario-inicio {
  padding: 7px 15px;
  background-color: rgb(50, 161, 93);
  border-radius: 20px;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  font-family: "DM Sans", serif;
  color: white;
  margin-top: 30px;
  font-weight: 600;
}
.btn-propio-inicio:hover, .btn-secundario-inicio:hover {
  background-color: rgb(14, 143, 25);
}

.btn-secundario-inicio {
  background-color: #8b8b8b;
}
.btn-secundario-inicio:hover {
  background-color: rgb(119, 119, 119);
}

.boton-perfume-ideal {
  margin: 30px;
  font-family: "DM Sans", serif;
  font-size: 24px;
  width: 100%;
  max-width: 200px;
  border-radius: 5px;
  cursor: pointer;
}
.boton-perfume-ideal:hover {
  background-color: #8b8b8b;
}

@media (max-width: 767px) {
  .boton-perfume-ideal {
    width: 30%;
    max-width: 300px;
  }
}
.boton-form-contacto {
  font-family: "DM Sans", serif;
  font-size: 24px;
  width: 400px;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.boton-form-contacto:hover {
  background-color: #8b8b8b;
}

@media (max-width: 767px) {
  .boton-form-contacto {
    max-width: 100%;
  }
}
.btn-propio {
  font-family: "Open Sans", serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  padding: 7px;
  border-radius: 5px;
  background-color: #000000;
}

.card-propia-sobrenosotros {
  border: none;
  max-width: 45%;
  border: 1px solid #131313;
  border-radius: 1px;
}

@media (max-width: 767px) {
  .card-propia-sobrenosotros {
    width: 100%;
    margin: 0;
    order: 1;
  }
}
.bg-card-propio {
  background-color: rgba(31, 31, 31, 0.9921568627);
  color: #dce6ef;
}

.card-propia {
  border: 1px solid #FFFFFF;
  border-radius: 1px;
}

.form-perfume-ideal {
  font-family: "Open Sans", serif;
  font-size: 24px;
}

.input-form-perfume-ideal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  font-size: 24px;
}

.form-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-family: "Open Sans", serif;
  font-size: 32px;
}

@media (max-width: 767px) {
  .form-contacto {
    padding: 0 20px;
  }
}
.input-form-contacto {
  display: inline-block;
  margin-top: 1px;
  width: 100%;
  font-size: 20px;
}

@media (max-width: 767px) {
  .input-form-contacto {
    width: 100%;
  }
}
.modal-title-propio {
  font-family: "Open Sans", serif;
  color: #000000;
}

.modal-body-propio {
  font-family: "Open Sans", serif;
  font-size: 24px;
  font-weight: 100;
  color: #000000;
  padding-left: 5px;
}

@media (max-width: 767px) {
  .modal-dialog {
    margin: 1rem;
  }
}
body {
  overflow-x: hidden;
  background-color: #131313;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #0c0c0c;
  color: #dce6ef;
}

main {
  color: #dce6ef;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.brand-logo-footer {
  width: 115px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.parrafo-footer {
  color: rgba(255, 255, 255, 0.5137254902);
  font-family: "DM Sans", serif;
  font-size: 24px;
}

h1 {
  font-family: "Nunito Sans", serif;
  font-size: 48px;
  font-weight: 300;
}

.h1-inicio {
  text-align: center;
  margin-top: 30px;
}

.h1-contacto {
  font-size: 32px;
  font-family: "Open Sans", serif;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .h1-contacto {
    text-align: center;
  }
}
.h-perfume-ideal {
  font-family: "DM Sans", serif;
  margin: 15px 10px 10px 10px;
}

@media (max-width: 767px) {
  .h-perfume-ideal {
    font-size: 32px;
    text-align: center;
    width: 100%;
    margin: 15px 0;
  }
}
.h-sobre-nosotros {
  font-family: "Alumni Sans Pinstripe", serif;
  font-size: 48px;
  font-weight: 600;
  padding-left: 10px;
}

@media (max-width: 767px) {
  .h-sobre-nosotros {
    margin: 0;
    width: 100%;
    text-align: center;
  }
}
.h1-fragancias {
  text-align: center;
  margin-top: 25px;
}

@media (max-width: 767px) {
  .h1-fragancias {
    font-size: 32px;
    max-width: 100%;
  }
}
.h2-fragancias, .h3-fragancias {
  font-family: "Nunito Sans", serif;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 767px) {
  .h2-fragancias, .h3-fragancias {
    font-size: 32px;
    max-width: 100%;
  }
}
.h3-nombres-perfumes {
  font-family: "Roboto", serif;
  font-style: italic;
  font-size: 32px;
  margin-top: 15px;
}

.img-container-inicio {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 1600px;
  height: 1000px;
  text-align: center;
  background-image: url("../assets/aventura.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-bottom: 40px;
}

@media (max-width: 767px) {
  .img-container-inicio {
    width: 600px;
    height: 300px;
    max-width: 90%;
    padding-bottom: 10px;
  }
}
.parrafos-boton-inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.texto-boton-inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.container-texto-fragancias {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  width: 100%;
}

.container-fragacias-texto-img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  max-width: 90%;
}

@media (max-width: 767px) {
  .container-fragacias-texto-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
}
.container-img-fragancias {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 35px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .container-img-fragancias {
    display: none;
  }
}
.container-sobre-nosotros {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 200px;
}

@media (max-width: 767px) {
  .container-sobre-nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 0;
    gap: 20px;
  }
}
.img-container-perfumeideal {
  text-align: center;
}

@media (max-width: 767px) {
  .img-container-perfumeideal {
    width: 100%;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "preguntas mensaje";
  gap: 20px;
  margin-left: 10px;
}

@media (max-width: 767px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
  }
}
.container-logos-redes {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 1000px;
}
.container .info {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Nunito Sans", serif;
  font-size: 24px;
  color: #dce6ef;
  gap: 30px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .container label {
    text-align: left;
    width: 100%;
  }
}
.accordion {
  max-width: 90%;
}

.accordion .accordion-header button {
  background-color: rgba(26, 26, 26, 0.937254902);
  color: #FFFFFF;
  border: none;
}
.accordion .accordion-header button:hover {
  box-shadow: none;
}

.accordion-item {
  border: 3px black solid;
}

.accordion-body {
  background-color: #000000;
  color: #dce6ef;
}

iframe {
  border: none;
  border-radius: 4px;
  width: 400px;
  height: 300px;
}

.carousel.slide {
  display: none;
}

@media (max-width: 767px) {
  .carousel.slide {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
